@import "/src/styles/colors";
.userform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  margin: 1rem auto;

  &__input {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    font-size: 1.3rem;
    color: $userform-input-font-color;
    gap: 1rem;
  }

  &__image-user {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
}
