$root-font-color: #ffffffde;
$root-background-color: #242424;
$root-media-font-color: #000000;
$root-media-background-color: #ffffff;

$welcome-font-color: #312d2d;

$main-sidebar-background-color: #a7a5a5;
$main-content-background-color: #d3d3d3;
$main-media-content-background-color: #a7a5a5;

$create-input-font-color: #000000;

$userform-input-font-color: #000000;

$usercard-border-color: #000000;
$usercard-background-color: #ffe4c4;
$usercard-data-font-color: #000000;

$textinput-label-font-color: #ffffff;
$textinput-label-background-color: #b89e7c;
$textinput-error-font-color: #ff0000;

$sidebar-header-background-color: #5e5e5e;
$sidebar-action-first-icon-background-color: #e68434;
$sidebar-action-second-icon-background-color: #5e5e5e;

$select-input-label-color: #ffffff;
$select-input-background-color: #b89e7c;

$logo-background-color: #ecd897;
$logo-font-color: #5c3de4;

$iconbutton-icon-white: #d2d4e9;
$iconbutton-icon-red: #ff0000;
$iconbutton-icon-green: #00ff00;
$iconbutton-icon-black: #000000;
$iconbutton-hover-border-color: #0000ff;

$date-input-label-color: #ffffff;
$date-input-background-color: #b89e7c;
$date-input-error-font-color: #ff0000;
