$iconbutton-font-color: #d2d4e9;
$iconbutton-icon-white: #d2d4e9;
$iconbutton-icon-red: #ff0000;
$iconbutton-icon-green: #00ff00;
$iconbutton-icon-black: #000000;

$footer-font-copyright-color: #ffffff;
$footer-font-links-color: #ffffff;
