@import "/src/styles/colors";

.text-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__text {
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 10px;
  }

  &__label {
    color: $textinput-label-font-color;
    background-color: $textinput-label-background-color;
    width: fit-content;
    border-radius: 10px;
    padding: 0 1rem;
  }

  &__error {
    color: $textinput-error-font-color;
    font-size: 1rem;
  }
}
