@import "/src/styles/colors";

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  &__sidebar {
    min-width: 30%;
    background-color: $main-sidebar-background-color;
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: $main-content-background-color;
    overflow-y: auto;
    scrollbar-width: none;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    flex-direction: column;

    &__sidebar {
      width: 100%;
      background-color: $main-media-content-background-color;
    }

    &__content {
      h1 {
        font-size: 1.3rem;
      }
    }
  }
}
