@import "/src/styles/colors";

.sidebar-items {
  margin: 0rem auto;

  &__header {
    font-size: 1rem;
    background-color: $sidebar-header-background-color;
    padding: 0.5rem;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;

    .iconButton {
      background-color: $sidebar-action-first-icon-background-color;
      width: 100%;
      border-radius: 10px;
    }

    .iconButton:nth-child(2) {
      background-color: $sidebar-action-second-icon-background-color;
    }
  }
}

@media only screen and (max-width: 500px) {
  .sidebar-items {
    &__action {
      flex-direction: row;
      height: 2rem;
    }
  }
}
