@import "/src/styles/colors";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $root-font-color;
  background-color: $root-background-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $root-media-font-color;
    background-color: $root-media-background-color;
  }
}
